  html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
  }

  body{
    font-size:62.5%;
    line-height:1.5;
    font-family: 'Arial', sans-serif;
    color:#333;
    background:#f1f1f1;
    margin: 0;
  }

  .container{
    height: 10em;
    position: relative
  }

  .container{
    margin: 0;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .menu{
    width:75%;
    float:right;
  }

  .clear{
      clear:both;
  }

  .coluna{
      width:23.5%;
      float:left;
      margin-right:2%;
      box-shadow:1px 1px 10px rgba(124, 124, 124, 0.2);
      background:#FFF;
  }

  .coluna:last-child{
      margin-right:0;  
  }

  .coluna3{
      width:78%;
      float:left;
      margin-right:2%;
      box-shadow:1px 1px 10px rgba(124, 124, 124, 0.2);
      background:#FFF;
      display:flex;
      flex-wrap:wrap;
      text-align:center;
  }

  .parte1{
      width:78%;
      float:left;
      background:#FFF;
      min-height:500px;
      padding:10px 20px;
      margin-bottom:30px;
      display:flex;
      align-items: center;
      justify-content: center;
  }

  .parte1 .videoarea{
      width:100%;
       height:450px;
       border:0;
       padding:20px;
  }

  .sidebar{
      width:20%;
      min-height:200px;
      float:right;
      display:block;
      background:#FFF;
  }

  .sidebar div:first-child{
      margin:0;
  }

  .sidebar div{
      width:100%;
      margin:20px 0;
     background:#FFF;

  }
