  html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
  }

  body {
    margin: 0;
  }

  body{
    font-size:62.5%;
    line-height:1.5;
    font-family: 'Arial', sans-serif;
    color:#333;
    background:#f1f1f1;
  }

  button, input,
  optgroup, select, textarea {
    font-family: inherit; 
    font-size: 100%; 
    line-height: 1.15;
    margin: 0; 
  }

  button, input { 
    overflow: visible;
  }

  button, select {
    text-transform: none;
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }

  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  a {
  background-color: transparent;
  }

  a{
    color:#00ccff;
    text-decoration:none;
    font-size:1.6em;
  }
  a:hover{
      text-decoration:underline;
      color:#006666
  }
  .container{
      max-width:80%;
      margin:0 auto;

  }

  textarea {
  overflow: auto;
  }

  .menu{
    width:75%;
    float:right;
  }

  .clear{
      clear:both;
  }

  .menu input{
     width:70%;
     float:left;
     padding:10px 10px 10px 20px;
     margin:3em 0;
     font-size:18px;
     border:2px solid #e8e8e8;
     border-radius:50px 0 0 50px;
  }
  ::-webkit-input-placeholder {
      color:#e8e8e8;
   }
  .menu a{
      width:25%;
      margin:3.2em 1em 3.2em -2px;
      padding:9.5px;
      float:left;
      display:block;
      background:#e8e8e8;
      font-weight:bold;
      font-size:17px;
      color:#333;
      text-align:center;
      border-radius:0 50px 50px 0;
      cursor:pointer;
  }
  .menu a:hover{
      background:red;
      color:#FFF;
      text-decoration:none;
  }
  .menu li{
      font-size:1.2em;
      margin: 4.5em 0 0 2em;
      display:inline-block;
  }
  .menu li a{
      color:#999;
  }

  .caixa{
      width:40%;
      padding: 2.4em 4em;
      position:absolute;
      top:48px;
      background:rgba(0, 0, 0, 0.3);
  }

  .caixa p{
    font-size:1.8em;
    font-weight:300;
    color:#FFF;
  }

  .coluna{
      width:23.5%;
      float:left;
      margin-right:2%;
      box-shadow:1px 1px 10px rgba(124, 124, 124, 0.2);
      background:#FFF;
  }

  .coluna:last-child{
      margin-right:0;  
  }

  p{
      font-size:1.6em;
  }

  .footer{
      width:100%;
      margin:2.4em 0;
      float:left;
      clear:both;

      background:#FFF;
      text-align:center;
      box-shadow:1px 1px 10px rgba(124, 124, 124, 0.2);
  }

  .footer small{
      font-size:1.4em;
  }

  .footer a{
      font-size:1em;
  }

  .parte1{
      width:78%;
      float:left;
      background:#FFF;
      min-height:500px;
      padding:10px 20px;
      margin-bottom:30px;

      display:flex;
      align-items: center;
      justify-content: center;
  }

  .parte1 .videoarea{
      width:100%;
       height:450px;
       border:0;
       padding:20px;
  }

  .sidebar{
      width:20%;
      min-height:200px;
      float:right;
      display:block;
      background:#FFF;
  }

  .sidebar div:first-child{
      margin:0;
  }

  .sidebar div{
      width:100%;
      margin:20px 0;
     background:#FFF;

  }

  .coluna3{
      width:78%;
      float:left;
      margin-right:2%;
      box-shadow:1px 1px 10px rgba(124, 124, 124, 0.2);
      background:#FFF;
      display:flex;
      flex-wrap:wrap;
      text-align:center;
  }

  .coluna3 h2{
      text-align:center;
      width:100%;
      margin:25px 0 10px 0;
  }

  .coluna3 a{
      width:80px;
      height:80px;
      padding:10px;
      border:2px solid red;
      margin:10px auto 40px auto;
      border-radius:5px;
  }

  .principal{
        margin-top:450px;
  }

  .header{
        display:inline-block;
    }
